// ## Colors ##
$color-base: #fff;
// bg colors
$color-bg: #f4f2f0;
$color-bg1: #341333;
$color-bg2: #2c152c;
$color-bg3: #eee3e3;
$color-bg4: #fefbfb;
// black colors
$color-b1: #000;
$color-b11: #1e1f1e;
$color-b2: #2e302f;
$color-b21: #404241;
$color-b22: #5f6160;
$color-b3: #8e8d8d;
$color-b4: #d0d0d0;
$color-b41: #dcdcdc;
$color-b5: #f7f7f7;
$color-b6: #f4f2f0;

$color-w1: #e02458;
$color-w2: #c1ee00;
$color-w3: #7012e5;
$color-w4: #a035fb;
$color-red: #d52029;
$color-green: #2ed609;

// ## Dimensions ##
$layout: 1100px;

.color-primary {
  color: $color-w3;
}
.background-primary {
  background-color: $color-w3;
}
